.custom-button:hover {
  color: $secondary !important;
}

.custom-button:disabled {
  background: #9A9A9A;
  color: #EBEAE3;
}

.custom-tag:hover {
  background: $primary !important;
  color: $white !important;
}

.custom-tag:hover::after {
  background-color: $secondary;
}

.header-icon:hover {
  color: #9C9E18 !important;  
}