<nav class="navbar navbar-expand-lg border-bottom border-3 border-primary">
  <div class="container">
    <div class="d-flex align-items-center py-7">
      <a class="d-block me-5" href="#">
        <img class="logo " src="../assets/images/logo.png" alt="logo">
      </a>
      <div class="d-none d-md-flex align-items-center">
        <h1 class="me-1 mb-0 fs-5 fw-normal">7TAO</h1>
        <span class="fw-bold text-nowrap noto-tc-serif me-7">活動訂票網</span>
      </div>
      <div class="input-group header-input  px-7">
        <input type="search" class="form-control border border-primary" placeholder="探索活動" aria-label="探索活動" aria-describedby="basic-addon2">
        <a href="#" class="input-group-text bg-primary border border-2 border-primary" id="basic-addon2"><span class="material-icons text-secondary">
          search
        </span></a>
      </div>
    </div>
    <div class="">
      <button class="navbar-toggler rounded border border-1 border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            <a class="nav-link link-dark d-flex align-middle fs-7 " aria-current="page" href="#"> 
              <span class="material-icons me-1">
                description
              </span>
              REGISTER
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark d-flex align-middle fs-7" aria-current="page" href="#"> 
              <span class="material-icons me-1">
                person
              </span>
              LOGIN
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
