.banner {
  background-image: url(../images/event/Rectangle3.png);
  background-position: center;
  height: 350px;
  @media (min-width: 576px) {
    height: 518px;
  }
}

.activity-img {
  width: 40px;
  height: 40px;
  @media (min-width: 767px) {
    width: 80px;
    height: 80px;
  }
}

.event-img { 
  width: 100%;
  height: 210px;
  @media (min-width: 767px) {
    height: 255px;
  }
}

.sparkler {
  width: 20px;
  height: 20px;
  @media (min-width: 767px) {
    width: 24px;
    height: 24px;
  }
}

.online-img {
  background-image: url(../images/event/online.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 137px;
  background-position: top -155px right 0;
  @media (min-width: 767px) {
    background-position: top -237px right 0;
  }
}

.online-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: $primary;
  }

  .-rotate-2 {
    transform: rotate(-2deg) !important;
  }
  .rotate-2 {
    transform: rotate(2deg) !important;
  }
  
  .text-black {
    color: #000000;
  }
  
  .albums-tag {
    transform: translate(-50%, -50%) rotate(4deg);
  }
  
  .albums-img {
    object-fit: cover;
    height: 291px;
    @media(min-width:576px) {
      height: 274px;
    }
  }